/*
==================================
            buttons
==================================
*/

/* drop styles*/
button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background-color: transparent;
  cursor: pointer;
}

.button {
  min-width: 220px;
  padding: 0 15px;
  height: 48px;
  line-height: 48px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 13px;
  background-color: #006be5;
  color: #fff;
}
.button:hover {
  background-color: #003a7c;
}
.button-to-favorites {
  background-color: transparent;
  color: #000000;
  /*margin-left: 10px;*/
  border: 2px solid #d9d9d9;
}
.button-to-favorites:hover {
  color: #fff;
  background-color: #262626;
  border: 2px solid #262626;
}
