/*@import (inline) "../node_modules/normalize.css/normalize.css";*/

@import url('./_fonts.css');
@import url('./buttons.css');
@import url('./blocks/layout.css');
@import url('./blocks/product/gallery.css');
@import url('./blocks/product/description.css');
@import url('./blocks/categories/categories.css');
@import url('./blocks/feedback-form/feedback-form.css');


html {
  font-size: 62.5%;
}

body {
  font: 1.65rem/1.2 Circe, sans-serif;
  font-weight: 300;
  margin: 0;
  height: 100%;
}

a {
  color: #006be5;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  color: #003a7c;
}

/*
==================================
            header
==================================
*/

header {
  background-color: #262626;
  height: 70px;
  margin: 0;
  padding: 0;
  height: 70px;
}
header * {
  color: #FFF;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.logo {
  padding-top:15px;
}
.logo a{
  color: #fff;
  font-weight: 700;
  font-size: 35px;
  align-items: center;
}
.logo a:hover {
  color: #fff;
}
.to-feedback {
  float: right;
  /*margin-top: 32px;*/
}
.to-feedback:hover {
  color: #fff;
}

/*
==================================
            footer
==================================
*/
footer {
  margin-top: 40px;
  height: 150px;
  background-color: #262626;
}