/*@import (inline) "../node_modules/normalize.css/normalize.css";*/

@import url('_fonts.css');
@import url('buttons.css');
@import url('blocks/layout.css');
@import url('blocks/product/gallery.css');
@import url('blocks/product/description.css');


html {
  font-size: 62.5%;
}

body {
  font: 1.65rem/1.2 Circe, sans-serif;
  font-weight: 300;
}

a {
  color: #006be5;
  text-decoration: none;
  font-weight: 400;
}
a:hover {
  color: #003a7c;
}
