/*
==================================
            Block categories
==================================
*/

.product__categories {
  padding-top: 20px;
  font-size: 13px;
}
.product__categories a:not(:first-child) {
  padding-left: 30px;
}
