/*
==================================
            Block description
==================================
*/
.product__description {
  /*display: flex;*/
  margin-top: 60px;
  width: 40%;
}


/*
==================================
            Block title
==================================
*/

.product__title {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 24px;
}


/*
==================================
            Block categories
==================================
*/

.product__categories {
  padding-top: 20px;
  font-size: 13px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: start;
}
.product__categories a {
  margin-top: 5px;
}
.product__categories a:not(:last-child) {
  margin-right: 30px;
}


/*
==================================
            Block info
==================================
*/

.product__info {
  margin-top: 25px;
  padding: 10px 25px;
  background-color: #f4f4f4;
  width: 315px;
  font-size: 13px;
}
.product__info--existence i {
  margin-right: 18px;
}
.product__info--delivery i {
  margin-right: 13px;
}
.product__info--delivery, .product__info--existence {
  margin: 8px 0;
}


/*
==================================
            Block price
==================================
*/

.product__price {
  padding-top: 50px;
  font-size: 18px;
  display: flex;
}
.product__price-old {
  text-decoration: line-through;
  color: #bfbebe;
}
.product__price-current {
  padding-left: 10px;
  color: #9a9b9b;
}
.product__price-discount {
  padding-left: 40px;
}
.price {
  font-weight: 600;
}
.price:after {
  content: ' ₽';
}
.product__price-discount .sale {
  font-size: 2rem;
}


/*
==================================
            Block actions
==================================
*/
.product__actions {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}


/*
==================================
            Block about
==================================
*/
.product__about {
  margin-top: 50px;
  font-size: 13px;
}


/*
==================================
            Block share
==================================
*/
.product__share {
  text-transform: uppercase;
  margin-top: 40px;
  font-size: 13px;
  display: flex;
  align-items: center;
}
.product__share a {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.product__share--icon {
  width: 15px;
  height: 15px;
  padding: 8px;
  border: 2px solid #d9d9d9;
  border-radius: 50%;
  transition: all 0.3s;
}
.product__share--icon:hover {
  border: 2px solid #003a7c;
  background-color: #003a7c;
}
.product__share .count-twits {
  margin-left: 15px;
  display: flex;
  align-items: center;
}
#\#triangle-left {
  width: 0;
  height: 0;
  border-top: 4px solid transparent;
  border-right: 5px solid #d9d9d9;
  border-bottom: 4px solid transparent;
}
.count {
  background-color: #d9d9d9;
  padding: 8px 15px;
}


/*
==================================
            Block count
==================================
*/
.product__quantity {
  max-width: 150px;
  margin-top: 40px;
  border: 2px solid #d9d9d9;
  border-radius: 4px;
  display: flex;
  align-items: baseline;
}
.button-minus, .button-plus {
  padding: 10px;
  width: 30%;
}
.button-minus img, .button-plus img {
  text-align: center;
  height: 16px;
}
.product__quantity input {
  border: none;
  border-left: 2px solid #d9d9d9;
  border-right: 2px solid #d9d9d9;
  background-color: #eeeeee;
  text-align: center;
  width: 32px;
  font-size: 18px;
  font-weight: 300;
  padding: 11px 15px;
}





