/*
==================================
            Block info
==================================
*/

.product__info {
  margin-top: 25px;
  padding: 10px 25px;
  background-color: #f4f4f4;
  width: 315px;
  font-size: 13px;
}
.product__info--existence i {
  margin-right: 18px;
}
.product__info--delivery i {
  margin-right: 12px;
}
.product__info--delivery, .product__info--existence {
  margin: 8px 0;
}

